.container span{
    font-weight: bold;

}
body{
    font-family:Roboto;
    background-color: whitesmoke;
    display:flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content:space-around;

}
.container button{
    transform: translateX(38px);
}
.container{
    width: 250px;
    background-color: rgb(230, 224, 224);
    border-radius:15px;
    overflow: hidden;
    box-shadow: 3px 3px 10px 0px black;
}
.container img{
   aspect-ratio: 4/3;
   object-fit: cover;
    width: 100%;
}
.info{
    padding: 16px;
}